<!-- disable all logging.
 By default, logback will try to write to console, which goes to
 stdout.

 VSCode LSP is consuming Stdout, but expects specific JSON log message format.
 Instead, we wire in a different type of appender programtically - see
LspClientLogAppender
 -->
<configuration>
   <!-- Where logs go -->
   <property name="LOG_DIR" value="${user.home}/.taxi/language-server/logs"/>

   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_DIR}/language-server.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <!-- daily rollover -->
         <fileNamePattern>${LOG_DIR}/language-server.%d{yyyy-MM-dd}.log</fileNamePattern>
         <maxHistory>7</maxHistory>
      </rollingPolicy>
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
   </appender>

   <root level="INFO">
      <appender-ref ref="FILE"/>
   </root>
</configuration>
