<!-- disable all logging.
 By default, logback will try to write to console, which goes to
 stdout.

 VSCode LSP is consuming Stdout, but expects specific JSON log message format.
 Instead, we wire in a different type of appender programtically - see
LspClientLogAppender
 -->
<configuration>
   <root level="off"/>
</configuration>
